/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {


}

/* 1366 by 768 Most Used Screen*/
@media only screen
and (min-width : 1301px) and (max-width:1380px) {

    .piecard{
        position: absolute;
        width: 800px;
        margin-left:530px;
        margin-top:10px;
    }
    .linecard{
        position: absolute;
        width: 800px;
        margin-left:530px;
        margin-top:475px;
    }
    .expensecard{
        position: absolute;
        width: 500px;
        margin-left:5px;
        margin-top:230px;
    }
    .filtercard{
        position: absolute;
        width: 500px;
        margin-left:5px;
        margin-top:10px;
    }
}
/* 1920 by 1080 2nd Most Used Screen*/
@media only screen
and (min-width : 1801px) and (max-width:3000px) {


}

/* 1440 by 900 3rd Most Used Screen*/
@media only screen
and (min-width : 1381px) and (max-width:1539px) {

}


/* 1600 by 900 4th Most Used Screen*/
@media only screen
and (min-width : 1540px) and (max-width:1800px) {

}
/* 1280 by 800 5th Most Used Screen*/
@media only screen
and (min-width : 1150px) and (max-width:1300px) {

}
/* 1536 by 864 6th Most Used Screen*/
@media only screen
and (min-width : 1535px) and (max-width:1598px) {

    .piecard{
        position: absolute;
        width: 890px;
        margin-left:600px;
        margin-top:10px;
    }
    .linecard{
        position: absolute;
        width: 890px;
        margin-left:600px;
        margin-top:475px;
    }
    .expensecard{
        position: absolute;
        width: 570px;
        margin-left:5px;
        margin-top:225px;
    }
    .filtercard{
        position: absolute;
        width: 570px;
        margin-left:5px;
        margin-top:10px;
    }

}
/* 1024 by 768 7th Most Used Screen*/
@media only screen
and (min-width : 1000px) and (max-width:1149px) {
	
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


    body {
      font-family: 'Roboto', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .c-btn {
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 600;
      display: inline-block;
      line-height: 36px;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      min-width: 88px;
      height: 36px;
      margin: 10px 8px;
      padding: 0 8px;
      text-align: center;
      letter-spacing: .5px;
      border-radius: 2px;
      background: #F1F1F1;
      color: #393939;
      transition: background 200ms ease-in-out;
      box-shadow: 0 3.08696px 5.82609px 0 rgba(0, 0, 0, 0.16174), 0 3.65217px 12.91304px 0 rgba(0, 0, 0, 0.12435);
    }

    .c-btn--flat {
      background: transparent;
      margin: 10px 8px;
      min-width: 52px;
    }

    .c-btn:hover {
      background: rgba(153, 153, 153, 0.2);
      color: #393939;
    }

    .c-btn:active {
      box-shadow: 0 9.6087px 10.78261px 0 rgba(0, 0, 0, 0.17217), 0 13.56522px 30.3913px 0 rgba(0, 0, 0, 0.15043);
    }

    .c-btn--flat, .c-btn--flat:hover, .c-btn--flat:active {
      box-shadow: none;
    }

  