{% extends 'base.html'%}
{% load static %}
{% block content%}
<link rel="stylesheet" href="{% static 'css/pagescss/friends.css'%}" />
<h1> Welcome to the friends page</h1>
{% for message in messages %}
{% if "Error" in message %}
<div class="alert alert-danger">
    <a class="close" href="#" data-dismiss="alert">×</a>

    {{ message }}

</div>

{% else %}
<div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>

    {{ message }}

</div>

{% endif %}
{% endfor %} 

<form action="{% url 'search' %}">
   

        <input class="form-control mr-sm-2" type="search" name="search" id="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>

    </form>

    
    <ul class="list-group">
        <h3>Friend Requests</h3>
          {% for request in requests%}
          <form method="POST" action="{% url 'friends' %}">
                  {% csrf_token %}
     
        <div class="card" style="width: 18rem;">
              <div class="card-body">
                                 
                <h5 class="card-title">{{request.SentBy.first_name}} {{request.SentBy.username}}</h5>
                <p class="card-text">{{request.DateTimeSent}}</p>
                <button type="submit" class="btn btn-primary">Accept</button>
                <input type="hidden" name="UserID" value="{{request.SentBy_id}}">
            
              </div>
            </div>
          </form>
            {%endfor%}


            <ul class="list-group">
              <h3>My Friends</h3>
                {% for friend in friends%}    
              <div class="card" style="width: 18rem;">
                    <div class="card-body">
                                       
                      <h5 class="card-title">{{friend.FriendID.first_name}}  {{friend.FriendID.username}} </h5>
                      <p class="card-text">{{friend.FriendSince}}</p>
                    </div>
                  </div>
             
                  {%endfor%}

          

{% endblock %}