{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card" style="width: 18rem;">
    {% for message in messages %}
    {% if "Error" in message %}
    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>

        {{ message }}

    </div>

    {% else %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>

        {{ message }}

    </div>

    {% endif %}
    {% endfor %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                Add Expense
              </button>
              <div class="list-group">
                {% for expense in MyExpense%}
                    <a href="#" class="list-group-item list-group-item-action ">
                     £{{expense.Amount}} at {{expense.Catagory}} on {{expense.Date_Time}}
                    </a>
                    {%endfor%}
                  
                  </div>
</div>


      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Expense</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form method="POST" action="{% url 'home' %}">

                        {% csrf_token %}
                            <div class="form-group">
                              <label for="amount">Amount</label>
                              <input type="number" class="form-control" id="amount" name="amount" placeholder="10">
                            </div>
                            <div class="form-group">
                              <label for="Catagory">Catagory</label>
                              <select class="form-control" id="catagory" name="catagory">
                                  <option  selected disabled="disabled"> Please Select Catagory</option>
                                {% for catagory in MyCatagories %}
                                <option value="{{catagory.Name}}">{{catagory.Name}}</option>
                              
                                {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Contents</label>
                                    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                                  </div>
                        
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1">Notes</label>
                              <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                            </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save Expense</button>
            </div>
            
        </form>
          </div>
        </div>
      </div>

{%endblock%}