{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/pagescss/home.css'%}" />

<div class="filtercard" >
    <div class="card border-primary mb-3" >
  <div class="card-body">
  <h3>Filters</h3>
    <!-- <div class="form-group">
      <label for="exampleFormControlSelect1">Filter Graph</label>
      <select class="form-control" id="filteroptions">
        <option value="All">All</option>
        <option value="Today">Today</option>
        <option value="ThisWeek">This Week</option>
        <option value="LastWeek">Last Week</option>
        <option value="ThisMonth">This Month</option>
        <option value="LastMonth">Last Month</option>
      </select> -->
      <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="datashow">
          <label class="custom-control-label" for="datashow">Show All Data</label>
        </div>

      <p>Date From: <input type="text" id="datepicker"></p>
      <p>Date To: <input type="text" id="datepicker1"></p>

      </div>
  </div>
</div>

    <div class="expensecard" >
        <div class="card border-primary mb-3" >
      <div class="card-body">
        {% for message in messages %}
        {% if "Error" in message %}
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">×</a>
    
            {{ message }}
    
        </div>
        {% else %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
    
            {{ message }}
    
        </div>
    
        {% endif %}
        {% endfor %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                    Add Expense
                  </button>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#catagorymodel">
                      Add Catagory
                    </button>
                    
                    <br>
                  
                  <div class="list-group">
                    {% for expense in MyExpense%}
                        <a href="#" class="list-group-item list-group-item-action ">
                         £{{expense.Amount}} spent on {{expense.Catagory}} on {{expense.Date_Time}}
                        </a>
                        <br>
                        {%endfor%}
                      

      </div>
    </div>
    </div>

                  </div>


<!--  style="position: absolute; margin-left:600px; width:500px;" -->
<div class="piecard" >
    <div class="card border-primary mb-3" >
  <div class="card-body">
    <div id="container" class="container"></div>
    </div>
  </div>
</div>


<div class="linecard" >
    <div class="card border-primary mb-3" >
  <div class="card-body">
    <div id="container1" class="container1" ></div>
    </div>
  </div>
</div>

      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Expense</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <!-- <form method="POST" action="{% url 'home' %}"> -->

                        <!-- {% csrf_token %} -->
                            <div class="form-group">
                              <label for="amount">Amount</label>
                              <input type="number" class="form-control" id="amount" name="amount" placeholder="10">
                            </div>
                        
                            <div class="form-group">
                              <label for="Catagory">Catagory</label>
                              <select class="form-control" id="catagory" name="catagory">
                                  <option  selected disabled="disabled"> Please Select Catagory</option>
                                {% for catagory in MyCatagories %}
                                <option value="{{catagory.Name}}">{{catagory.Name}}</option>
                              
                                {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Contents</label>
                                    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                                  </div>
                        
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1">Notes</label>
                              <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                            </div>

                            {{DateForm.my_date_field}}
                            <input id="datetimepicker" />

                          

                          
                   

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" name="savexpense" id="savexpense" class="btn btn-primary">Save Expense</button>
            </div>
            
        <!-- </form> -->
          </div>
        </div>
      </div>


         <!-- Modal -->
         <div class="modal fade" id="catagorymodel" tabindex="-1" role="dialog" aria-labelledby="catagorymodel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Expense</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <form method="POST" action="{% url 'home' %}">
    
                            {% csrf_token %}
                                <div class="form-group">
                                  <label for="amount">Catagory Name</label>
                                  <input type="text" class="form-control" id="newcatagory" name="newcatagory" placeholder="Enter Catagory">
                                </div>
                            
                            
    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add Catagory</button>
                </div>
                
            </form>
              </div>
            </div>
          </div>


          <script>
              $(document).ready(function() {

                var timescheck=localStorage.getItem('time');
                if (timescheck=='All'){
                  $('#datashow').prop('checked', true);
                  $( "#datepicker" ).datepicker( "option", "disabled", true );
                  $( "#datepicker1" ).datepicker( "option", "disabled", true );

                }
                else{
                  $('#datashow').prop('checked', false);
                  $( "#datepicker" ).datepicker( "option", "disabled", false );
                  $( "#datepicker1" ).datepicker( "option", "disabled", false );  
                }

               
                $('#datashow').change(function () {
                  
               if ($('#datashow').is(":checked")) {
               
                $( "#datepicker" ).datepicker( "option", "disabled", true );
                $( "#datepicker1" ).datepicker( "option", "disabled", true );

                localStorage.setItem('time', "All");
                piechart();
                linechart();
                 
              }
              else{

                $( "#datepicker" ).datepicker( "option", "disabled", false );
                $( "#datepicker1" ).datepicker( "option", "disabled", false );

                localStorage.setItem('time', "Custom");
                piechart();
                linechart();
              }

               });

            });
          </script>
         

<script>
    $( function() {
      $( "#datepicker" ).datepicker({
        
         dateFormat: 'yy-mm-dd' ,
        onSelect: function(dateText) {

          var datepick=this.value;

          localStorage.setItem('datePick',datepick)
          piechart();
          linechart();
      }
      });
      var datepick=localStorage.getItem('datePick');
      $('#datepicker').datepicker('setDate', datepick);

    } );

    $( function() {
      $( "#datepicker1" ).datepicker({
         dateFormat: 'yy-mm-dd' ,
        onSelect: function(dateText) {

          var datepick=this.value;

          localStorage.setItem('datePick1',datepick)
          piechart();
          linechart();
      }
      });
      var datepick1=localStorage.getItem('datePick1');
      $('#datepicker1').datepicker('setDate', datepick1);
    } );
    </script>
          <script>
              $( document ).ready(function() {
                piechart();
                linechart();
            });
    
              function piechart(){
                var time=localStorage.getItem('time');
                var datepick=localStorage.getItem('datePick');
                var datepick1=localStorage.getItem('datePick1');

                
                //var datepick='23/10/2019'
                $.ajax({
                  url: 'http://localhost:8000/chart_data'+'?time='+time+'&mydate='+datepick+'&mydate1='+datepick1,
                  dataType: 'json',
                  success: function (data) {
                    Highcharts.chart("container", data);
                  }
                });
              }
         
          </script>

                      <script>

                        function linechart(){
                          var time=localStorage.getItem('time');
                          var datepick=localStorage.getItem('datePick');
                          var datepick1=localStorage.getItem('datePick1');

                          $.ajax({
                             url: 'http://localhost:8000/line_chart'+'?time='+time+'&mydate='+datepick+'&mydate1='+datepick1,
                             dataType: 'json',
                             success: function (data) {
                               Highcharts.chart("container1", data);
                             }
                           });
                        }
                      </script>

                   
                          <script>
                              $('#datetimepicker').datetimepicker({
                                 footer: true,
                                  modal: false,
                                  format: 'yyyy-mm-dd HH:MM' ,
                          
                                });
                          </script>


                          <script>
                              $( "#savexpense" ).click(function() {


                                var amount = $('#amount').val();
                                var catagory = $('#catagory').val();
                                var contents = $('#content').val();
                                var notes = $('#notes').val();
                                var datetime = $('#datetimepicker').val();
                                

                                $.ajax({
                                  url: 'http://localhost:8000/home'+'?datetimepicker='+datetime+'&amount='+amount+'&catagory='+catagory+'&contents='+contents+'&notes='+notes,
                                  dataType: 'json',
                                  success: function (data) {
                                 

                                    
                                  }

                                  
                                });
                         
                                location.reload();
                                
                              });


                              

                          </script>
                     
{%endblock%}
